*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS';
    font-weight: 200;
}

main{
        background-color: rgba(116, 69, 122, 0.3);
        border-radius: 17px;
        margin: 70px;
        padding-bottom: 15px;
        text-align: center;
}

h1{ 

}

label{
    margin-top: 20px;

}

header{
    border-bottom: 5px black;
    justify-content: space-between; 

}

.aheader{

}