*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS';
}

h1{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 20px;    
}

header{
    background-color: #da70d6;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.nav{
    margin-top: auto;
    margin-bottom: auto;
}

button{
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    width: 240px;
    height: 40px;
    background-color: #da70d6;
    border: 0px;
}

button:hover{
    font-size: 29px;
    transition-duration: 0.20s;
}

#alog{
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

p{
    color: #ffffff;
    display: inline;
    font-size: 27px;
}

main{
    background-color: #da70d6;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 60px;
    padding: 35px;
    border-radius: 23px;
}

label{
    margin-top: 20px;

}

h2{
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 50px
}

dl{
    margin-top: 50px;

}

dt{
    color: #ffffff;
    font-size: 40px;

}

dd{
    color: #ffffff;
    font-size: 27px;
}




